/* ----- common style ----- */
html, body, #root{
    height: 100%;
}
body {
    font-family : Malang;
    background-color : #f5f5f5;
    overflow-x: hidden;
}
a { cursor : pointer; }

.border, .border-end, .border-bottom, .btn, input {
    border-width : 2px!important;
    border-color : black!important;
}
@font-face {
    font-family: 'Malang';
    src: URL('./fonts/HancomMalangMalang-Regular.ttf');
}
table {
    table-layout: fixed;
    white-space: nowrap;
}   
tr:hover {
    background-color : rgb(240 225 97 / 50%);
}

#close_modal_btn:active, input:focus, select:focus {
    box-shadow : 0 0 0 0.25rem rgb(240 225 97 / 50%) !important;
}
.select-scale:has(input:checked) {
    transform: scale(1.1);
    box-shadow : 0 0 0 0.25rem rgb(240 225 97 / 50%);
}
.select-bg > input.btn-check:checked + span {
    background-color : #f0e161;
    box-shadow : 0 0 0 0.25rem rgb(240 225 97 / 50%);
}
.modal { display : block!important; }
.hide { display : none; }
/* ----- common style ----- */


/* ----- header ----- */
header {
    /* prevent nav-item overflow to two line */
    white-space: nowrap;
}
header #logo-area {
    border-right : 2px solid transparent;
    border-bottom : 2px solid black;
}
@media (min-width: 576px) {
    header #logo-area {
        border-right: 2px solid black !important;
        border-bottom : 2px solid transparent !important;
    }
}
/* ----- header ----- */

/* ----- nav ----- */
.nav-link {
    color : black !important;
    border : 2px solid transparent;
}
.nav-select{
    border-bottom : 2px solid;
}
.nav-link:hover {
    background-color :rgb(240 225 97 / 25%);
    color : black;
    border : 2px solid black;
}
/* ----- nav ----- */

/* ----- main ----- */
main section {
    background-color : rgb(240 225 97 / 25%); 
}
/* ----- main ----- */


/* ----- asset ----- */
.asset-div {
    width : 150px;
    height : 150px;
    cursor: pointer;
    border: 2px solid black;
}
.asset-div:hover {
    transform: scale(1.1);
}
.asset-icon {
    border-radius : 32px;
    border: 2px solid black;
}
.btn-close {
    margin: 0.5rem 0.5rem -2.5rem auto;
}
/* ----- asset ----- */