<div class="d-flex w-100 px-5 gap-5 flex-wrap justify-content-center">
    <% asset_list.forEach(function(item, index){ %>
    <div class="asset-div p-4 text-center shadow" style="background-color: <%= item.color %>">
        <img class="asset-icon p-1 mb-2" src="images/<%= item.type %>.png" alt="">
        <p><%= item.name %></p><p><%= item.money %>원</p>
    </div>
    <% }) %>
    <div class="asset-div p-4 text-center shadow" style="background-color: #DDDDDD"">
        <img class="asset-icon p-1 mb-2" src="images/add.png" alt="">
        <p class="my-3">자산 추가</p>
    </div>
</div>