<div class="row justify-content-around my-3">
    <div class="col-md-5 m-3">
        <h3 id="today_title" class="text-center"></h3>
        <table class="table my-3 w-100 text-center">
            <tbody id="tbody_day">
            </tbody>
        </table>
    </div>
    <div class="col-md-5 m-3">
        <h3 id="this_month_title" class="text-center"></h3>
        <table class="table my-3 w-100 text-center">
            <tbody id="tbody_month">
            </tbody>
        </table>
    </div>
    <div class="m-3 d-flex flex-column gap-3 text-center">
        <h3 class="">뉴스</h3>
        <div>
            <span class="bg-secondary text-center m-3 p-3 bg-opacity-25">
                ‘안심전환대출’ 보름 간 3만,19건,2조9098 신청 접수
            </span>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/main.js"></script>