<!DOCTYPE html>
<html lang="ko">
    <head>
        <%- include('base/head') %>
    </head>
    <body> 
        <%- include('base/topbar') %>
        
        <main class="container-fluid row">
            <%- include('base/sidebar') %>
            <section class="ms-sm-auto col-md-9 col-lg-10 px-md-4">
                <%- include('content/'+routerName) %>
            </section>
        </main>
    </body>
</html>
