<!DOCTYPE html>
<html lang="ko">
    <head>
        <%- include('base/head') %>
    </head>
    <body class="d-flex flex-column"> 
        <%- include('base/topbar') %>
        
        <main class="d-flex">
            <%- include('base/sidebar') %>
            <section class="ms-sm-10 col-md-9 col-lg-9 col-lg-10 p-5">
                <%- include('content/'+routerName) %>
            </section>
        </main>
    </body>
</html>
