<!DOCTYPE html>
<html lang="ko">
    <%- include('./head') %>
    <body> 
        <%- include('./topbar') %>
        
        <main class="container-fluid row">
            <%- include('./sidebar') %>
            <section class="ms-sm-auto col-md-9 col-lg-10 px-md-4">
            </section>
        </main>
    </body>
</html>
