<header class="navbar navbar-light sticky-top bg-light p-0 shadow justify-content-start flex-nowrap gap-5 ">
    <h2 class="px-3 py-3">한눈에가계부</h2>
    <ul class="nav gap-3">
        <li class="nav-item my-3">
            <a href="/index" class="nav-link active">메인</a>
        </li>
        <li class="nav-item my-3">
            <a href="/asset" class="nav-link active">자산</a>
        </li>
        <li class="nav-item my-3">
            <a class="nav-link">통계</a>
        </li>
    </ul>
</header> 