body {
    font-family : Malang;
    background-color : #f5f5f5;
}
a {
    cursor : pointer;
}
a.nav-link {
    color : black;
}
section {
    background-color : blue;
}
#content {
    height : 100vh;
}
@font-face {
    font-family: 'Malang';
    src: URL('../fonts/HancomMalangMalang-Regular.ttf');
}