/* ----- common style ----- */
html, body{
    height: 100%;
}
body {
    font-family : Malang;
    background-color : #f5f5f5;
    overflow-x: hidden;
}
a { cursor : pointer; }

.border, .btn, .border-end, .border-bottom, input {
    border-width : 2px!important;
    border-color : black!important;
}
@font-face {
    font-family: 'Malang';
    src: URL('../fonts/HancomMalangMalang-Regular.ttf');
}
table {
    table-layout: fixed;
    white-space: nowrap;
}   
tr:hover {
    background-color : rgb(240 225 97 / 50%);
}
/* ----- common style ----- */


/* ----- header.ejs ----- */
.nav-link {
    color : black;
    border : 2px solid transparent;
}
.nav-select{
    border-bottom : 2px solid;
}
.nav-link:hover {
    background-color :rgb(240 225 97 / 25%);
    color : black;
    border : 2px solid black;
}
header {
    white-space: nowrap; }

/* ----- header ----- */

/* ----- main ----- */
main {
    flex: 1;
}
section {
    background-color : rgb(240 225 97 / 25%); 
}
/* ----- main ----- */


/* ----- asset.ejs ----- */
.asset-div {
    width : 150px;
    height : 150px;
    cursor: pointer;
    border: 2px solid black;
}
.asset-div:hover {
    transform: scale(1.1);
}
.asset-icon {
    border-radius : 32px;
    border: 2px solid black;
}
/* ----- asset.ejs ----- */

/* ----- stats.ejs ----- */
#select-type > input.btn-check:checked + label {
    background-color : #f0e161;
    box-shadow : 0 0 0 0.25rem rgb(240 225 97 / 50%);
}

#add-item-form input:focus {
    box-shadow : 0 0 0 0.25rem rgb(240 225 97 / 50%);
}
/* ----- stats.ejs ----- */

/* ----- add_item.ejs ----- */
#select-asset > input.btn-check:checked + label {
    transform: scale(1.1);
    box-shadow : 0 0 0 0.25rem rgb(240 225 97 / 50%);
}
/* ----- add_item.ejs ----- */