body {
    font-family : Malang;
}
section {
    display: flex;
    justify-content: center;
}
form#loginForm {
    max-width: 400px;
    width : 100%;
}
@font-face {
  font-family: 'Malang';
  src: URL('../fonts/HancomMalangMalang-Regular.ttf');
}