<div class="sidebar-heading d-flex justify-content-between m-3 mt-5">
    <span class="text-muted">자산</span>
</div>
<ul class="nav flex-column ps-4">
    <li class="nav-item my-3">
        <a class="nav-link">통장A</a>
    </li>
    <li class="nav-item my-3">
        <a class="nav-link">통장B</a>
    </li>
</ul>