<header class="navbar sticky-top border-bottom justify-content-start flex-nowrap gap-5 p-0 bg-light">
    <div class="col-sm-4 col-md-3 col-lg-3 col-xl-2 border-end">

        <h2 class="px-3 py-3 text-center">한눈에가계부</h2>
    </div>
    <div class="col-sm-8 col-md-9 col-lg-9 col-xl-10">

        <ul class="nav gap-3 flex-nowrap">
            <li class="nav-item my-3">
                <a href="/" class="nav-link <%if (routerName=='main') {%>nav-select<%}%>">메인</a>
            </li>
            <li class="nav-item my-3">
                <a href="/asset" class="nav-link <%if (routerName=='asset') {%>nav-select<%}%>">자산</a>
            </li>
            <li class="nav-item my-3">
                <a href="/stats" class="nav-link <%if (routerName=='stats') {%>nav-select<%}%>">통계</a>
            </li>
            <li class="nav-item my-3">
                <a class="nav-link">거래추가</a>
            </li>
        </ul>
    </div>
</header> 